[submodule "ext/vim-pathogen"]
	path = ext/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
	branch = master
[submodule "share/bundle/detectindent"]
	path = share/bundle/detectindent
	url = https://github.com/roryokane/detectindent
	branch = master
[submodule "share/bundle/vim-kalisi"]
	path = share/bundle/vim-kalisi
	url = https://github.com/freeo/vim-kalisi
	branch = master
[submodule "share/bundle/YouCompleteMe"]
	path = share/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	branch = master
[submodule "share/bundle/vim-bbye"]
	path = share/bundle/vim-bbye
	url = https://github.com/moll/vim-bbye.git
	branch = master
[submodule "share/bundle/vim-hardtime"]
	path = share/bundle/vim-hardtime
	url = https://github.com/takac/vim-hardtime.git
	branch = master
[submodule "share/bundle/vim-airline"]
	path = share/bundle/vim-airline
	url = https://github.com/bling/vim-airline
	branch = master
[submodule "share/bundle/vim-fugitive"]
	path = share/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	branch = master
[submodule "share/bundle/vim-bufferline"]
	path = share/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
	branch = master
[submodule "share/bundle/vim-signify"]
	path = share/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
	branch = master
[submodule "share/bundle/vim-scala"]
	path = share/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "share/bundle/vim-airline-themes"]
	path = share/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
	branch = master
